[submodule ".tmux/plugins/tmux-continuum"]
	path = .tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum

[submodule ".btop"]
	path = .btop
	url = https://github.com/aristocratos/btop.git
