@obi-srt-patternlib:registry=https://gitlab.com/api/v4/groups/90903624/-/packages/npm/
//gitlab.com/api/v4/groups/90903624/-/packages/npm/:_authToken=<gitlab_token>
//gitlab.com/api/v4/groups/97134158/-/packages/npm/:_authToken=<gitlab_token>
